/* ----- GLOBAL ----- */

* { 
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

body {
	overflow-y: hidden;
}

h1, h2, h3 {
	font-family: font86261;
	font-style: italic;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.disable-select {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

/* ----- OPENING SCREEN ----- */

.open-screen {
	width: 100vw;
	height: 100vh;
	padding: 4rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	opacity: 1;
	overflow: hidden;
	transition: opacity 3s ease-in-out;
	pointer-events: auto;
	z-index: 5;
}

.progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 0%;
	height: 7.5px;
	background-color: gray;
	transition: width 4s ease-in;
}

.open-screen-content {
	height: 90%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	user-select: none;
}

.open-screen-content h1 {
	height: 40%;
	width: 60%;
	font-size: 2.25rem;
	text-align: center;
	line-height: 3.5rem;
}

#recordplayer .st0 { fill:#FFFFFF; }
#recordplayer .st1 { fill:none; stroke:#FFFFFF; stroke-width:6; stroke-miterlimit:10; }
#recordplayer .st2 { fill:none; stroke:#FFFFFF; stroke-miterlimit:10; }

#recordplayer #needle {
	transform-origin: 250px 85px;
	transition: all 0.5s ease-in-out;
	transform: rotate(0deg);
}

#recordplayer:hover #needle {
	transform: rotate(30deg);
}

#recordplayer #vinyl {
	transform-origin: 122.5px 152.5px;
	transition: none 3s ease-in-out;
}

#recordplayer:hover #vinyl {
	transform: rotate(1080deg);
	transition: transform 9s ease-in-out;
	transition-delay: 0.5s;
}

.recordplayer-container {
	height: 60%;
	width: 80%;
}


/* ----- AUDIO CONTROLS ----- */

.audio-controls {
	position: fixed;
	bottom: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;
	z-index: 5;
	transition: opacity 1s ease-in-out;
	cursor: pointer;
}

#play-button {
	width: 75px;
	height: 75px;
	display: none;
}

#play-button .st0 { fill:#FFFFFF; }

#pause-button {
	width: 75px;
	height: 75px;
	display: inline;
}

#pause-button .st0 { fill:#FFFFFF; }


/* ----- MAIN PAGE ----- */

.main-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	padding: 4rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
	pointer-events: none;
	z-index: 2;
	margin-top: 0;
}

#main-page-background-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	pointer-events: none;
}

#main-page-background {
	width: 100%;
	height: 100%;
}

#main-page-background .cls-1 { fill: #045468; }

#left-side, #right-side {
	transition: transform 1.5s ease;
}

#left-side {
	transform: translateX(-100vw);
}

#right-side {
	transform: translateX(100vw);
}

#main-page-title, #main-page-subtitle, #discoball, #down-arrow {
	z-index: 2;
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

#main-page-title, #main-page-subtitle {
	transition-delay: 3.5s;
}

#main-page-title {
	padding: 0.5rem;
	margin-top: -1rem;
	font-size: 2rem;
	line-height: 3.25rem;
	letter-spacing: 8px;
	text-align: center;
	color: white;
}

#main-page-subtitle {
	padding: 0.5rem;
	margin-bottom: -1rem;
	font-size: 1.6rem;
	line-height: 2.25rem;
	text-align: center;
	color: white;
}

#discoball {
	transition-delay: 1.5s;
}

#discoball * { fill:#ffffff;stroke:#ffffff; }
#discoball .st0 { fill:none;stroke:#ffffff; stroke-width:10; stroke-miterlimit:10; }
#discoball .st1 { fill:none;stroke:#ffffff; stroke-width:8; stroke-miterlimit:10; }
#discoball .st2 { fill:none;stroke:#ffffff; stroke-width:6; stroke-miterlimit:10; }

#discoball #light {
	transform-origin: 50% 40%;
	animation-name: disco-light;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease;
}

@keyframes disco-light {
	0%,25% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(0.9, 0.9);
	}

	100% {
		transform: scale(1, 1);
	}
}

#down-arrow {
	position: fixed;
	max-width: 1.5%;
	max-height: 1.5%;
	left: 49.25%;
	bottom: 2%;
	transition: opacity 2s ease-in-out;
	animation-name: none;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-delay: 1s;

}

#down-arrow .cls-1 { fill: #fff; }

@keyframes blink {
	0% {
		opacity: 0.8;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 0.8;
	}
}


/* ----- ABOUT PAGE ----- */

.about-page {
	position: relative;
	background-color: #DEDEDE;
	height: 100vh;
	width: 100vw;
	padding: 3rem;
	background-image: url("media/msg.jpg");
	background-size: cover;
	box-shadow: 0px -5px 22px 0px rgba(0,0,0,0.5);
	display: none;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 100;
}

.about-page h1 {
	font-size: 2rem;
	line-height: 2.75rem;
	text-align: center;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.about-page h3 {
	font-size: 1.25rem;
	line-height: 2.75rem;
	text-align: center;
}

.buttons {
	margin: 3rem 0;
}

.tickets-button, .tour-button {
	padding: 2rem 4rem;
	color: white;
	text-align: center;
	background-color: #4d4d4d;
}

.tickets-button:hover, .tour-button:hover {
	background-color: #383838;
}

.tickets-button {
	margin-bottom: 1rem;
}